.facebook-btn {
    background-color: #3a579d;
    color: white;
    font-weight:600;
    font-size: 1rem;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    opacity: 1;
    transition: all 0.3s;
    text-decoration: none;
    position: relative;

}

.facebook-btn:hover {
    /* opacity: 0.6; */
    background-color: #5076cf;
}

.tag-btn-facebook {
    position: absolute;
    top: 4%;
    font-size: 1.4rem;
}

.tag-facebook {
    margin-left: 35px;
}


