.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    /* Here is the modification */
    border-top: 1px solid silver;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.background-img-custom {
    /* background-image: url("/src/assets/img/6240373.jpg") !important; */
    background-color: rgb(115, 35, 155, 0.65) !important;
    background-size: cover;
}