.background-img-custom {
  /* background-color: aqua; */
  background-image: url('./assets/img/loginbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   /* Full height */
   height: 100vh; 
}

.btn {
  border-radius: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}